*{
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: rgb(209, 209, 209);
}

ul li:nth-child(3){
    color: red;
}

#mienlace{
    font-size: 30px;
    color: blueviolet;
}

#mienlace:link{
    color: royalblue;
}

#mienlace:visited{
    color: orangered;
}

#mienlace:hover{
    color: aquamarine;
}

#mienlace:active{
    color: black;
    background-color: bisque;
}

input[type="text"]{
    margin-top: 10px;
}

input[type="text"]:focus{
    margin-top: 10px;
    border: 4px dashed red;
}
